<!DOCTYPE html>
<html lang="en">

<head>
	<title>Nhà Hàng Baro</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="author" content="codedthemes">
      <!-- Favicon icon -->
      <link rel="icon" href="../images/note/icontrangweb.png" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="../note/assets/css/bootstrap/css/bootstrap.min.css">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="../note/assets/icon/themify-icons/themify-icons.css">
	  <link rel="stylesheet" type="text/css" href="../note/assets/icon/font-awesome/css/font-awesome.min.css">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="../note/assets/icon/icofont/css/icofont.css">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="../note/assets/css/style.css">
      <link rel="stylesheet" type="text/css" href="../note/assets/css/jquery.mCustomScrollbar.css">
	  <style>
		.table-responsive {
			max-height: 400px; 
			overflow-y: auto;  
		}
	  </style>
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="loader-bar"></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
         <div class="pcoded-container navbar-wrapper">
            <%- include('../layouts/navbar', { username: username, avatar: avatar }) %> 
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../layouts/sidebarstaff') %>
                    <%- include(content)%>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-menu ml-2">
        <i class="fa fa-calendar" style="font-size: 24px; color: #007bff;" aria-hidden="true"></i>
    </div>

<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="../note/assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../note/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../note/assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="../note/assets/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="../note/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="../note/assets/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="../note/assets/pages/widget/amchart/amcharts.min.js"></script>
<script src="../note/assets/pages/widget/amchart/serial.min.js"></script>
<!-- Chart js -->
<script type="text/javascript" src="../note/assets/js/chart.js/Chart.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="../note/assets/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="../note/assets/js/script.js"></script>
<script type="text/javascript " src="../note/assets/js/SmoothScroll.js"></script>
<script src="../note/assets/js/pcoded.min.js"></script>
<script src="../note/assets/js/vartical-demo.js"></script>
<script src="../note/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
</body>
</html>